@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Gloria Hallelujah, sans-serif; 
    font-weight: 400;
    color: darkred;
}

h1,h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: firebrick;
}

#header-logo{
    float: left;
    font-size: 200%;
}

#nav-bar{
    font-size: 100%;
    letter-spacing: 5px;

}

#nav-bar, #header-logo {
    line-height: 70px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px ;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    color: lightsalmon;
}
