@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


body{
    font-family: Gloria Hallelujah, sans-serif; 
    font-weight: 400;
    color: darkred;
}

h1,h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: firebrick;
}

#header-logo{
    float: left;
    font-size: 200%;
    padding-left: 90px;
}

/*nav settings*/

#nav-bar{
    font-size: 100%;
    letter-spacing: 5px;

}

#nav-bar, #header-logo {
    line-height: 70px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px ;
    padding-right: 70px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    color: lightsalmon;
}

.active {
    border-bottom: 1px;
}

#nav-bar, #header-logo {
    line-height: 70px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px ;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    color: lightsalmon;
}

/*about section*/

#about-section, p {
    font-size: small;
    padding-top: 60px;
    text-align: left;
    display: block;
    max-width:60%;
    padding-left: 60px;
}

#main-image{
    float: right;
    position: absolute;
    padding-left: 500px;
    max-width: min-content;
    height: 700px;
    padding-top: 60px;
}
