@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


body{
    font-family: Gloria Hallelujah, sans-serif; 
    font-weight: 400;
    color: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: firebrick;
}

/* center h1 and h2 */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #header-logo {
    font-size: 36px;
    margin-bottom: 10px;
  }  

/*nav settings*/

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  #nav-bar li {
    margin-right: 20px;
  }
  
  #nav-bar li:last-child {
    margin-right: 0;
  }

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    color: lightsalmon;
}

/*about section*/

h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  
.about-text {
    flex: 1;
    font-size: 18px;
    text-align: justify;
  }


/* footer */

footer {
    height: 150px;
   }

   .social-networks {
    text-align: center;
   }

   .social-networks > li {
    display:inline ;
   }

   .social-networks i{
    font-size:160% ;
    margin: 1%;
    padding:5%;
    color: firebrick;
   }

   /*video embed*/

   .video {
    margin-left: 55vw;
    transform: translate(-50%);
  }

 


   
    
  
